<nav class="navbar bg-base-200">
  <div class="navbar-start">
    <a class="btn btn-ghost normal-case text-xl" href="/">Lego Collection</a>
  </div>

  <div class="navbar-center hidden lg:flex ml-auto space-x-4 justify-end">
    <!-- Home, View Collection, About -->
    <a class="btn btn-ghost <%= page === '/' ? 'active' : '' %>" href="/">Home</a>
    <a class="btn btn-ghost <%= page === '/lego/sets' ? 'active' : '' %>" href="/lego/sets">View Collection</a>
    <a class="btn btn-ghost <%= page === '/about' ? 'active' : '' %>" href="/about">About</a>

    <!-- User Account Dropdown -->
    <% if (session.user) { %>
      <details class="dropdown">
        <summary class="btn btn-ghost">Account: <%= session.user.userName %></summary>
        <ul class="menu dropdown-content p-2 shadow bg-base-100 rounded-box">
          <li>
            <a class="<%= (page == '/lego/addSet') ? 'active' : '' %>" href="/lego/addSet">Add to Collection</a>
          </li>
          <li>
            <a class="<%= (page == '/userHistory') ? 'active' : '' %>" href="/userHistory">User History</a>
          </li>
          <li><a href="/logout">Log Out</a></li>
        </ul>
      </details>
    <% } else { %>
      <!-- No Session Dropdown -->
      <details class="dropdown">
        <summary class="btn btn-ghost">Account</summary>
        <ul class="menu dropdown-content p-2 shadow bg-base-100 rounded-box">
          <li>
            <a class="<%= (page == '/login') ? 'active' : '' %>" href="/login">Login</a>
          </li>
          <li>
            <a class="<%= (page == '/register') ? 'active' : '' %>" href="/register">Register</a>
          </li>
        </ul>
      </details>
    <% } %>
  </div>
</nav>
